.main {
    display: flex;
    margin: auto;
    width: 60%;
    flex-direction: column;
}

.orderContainer {
    margin-bottom: 8px;
    padding: 16px;
    background-color: darksalmon;
    border: 1px solid salmon;
    border-radius: 2px;
    box-shadow: 5px 5px 10px lightgray;
}

.orderRow {
    display: flex
}